nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: whitesmoke;
      border: rgb(65, 65, 65);
      color: rgb(65, 65, 65);
    }
  }
}
